In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
dataset = pd.read_csv("../datasets/binary_regression/ds_1/dataset.csv", index_col=0)

In [14]:
dataset.head()

,e_0,e_1,e_2,e_3,e_4,e_5,e_6,e_7,e_8,e_9,...,e_91,e_92,e_93,e_94,e_95,e_96,e_97,e_98,e_99,label
0,363.0,359.0,344.0,337.0,361.0,364.0,354.0,340.0,338.0,344.0,...,455.0,452.0,441.0,463.0,454.0,442.0,444.0,467.0,432.0,1
1,438.0,446.0,448.0,434.0,420.0,429.0,444.0,439.0,422.0,415.0,...,365.0,351.0,339.0,348.0,363.0,364.0,355.0,341.0,345.0,1
2,451.0,442.0,427.0,446.0,449.0,435.0,424.0,441.0,449.0,436.0,...,396.0,405.0,398.0,387.0,380.0,383.0,405.0,396.0,386.0,1
3,459.0,461.0,450.0,436.0,436.0,446.0,460.0,453.0,438.0,437.0,...,414.0,413.0,398.0,393.0,388.0,402.0,400.0,384.0,395.0,1
4,426.0,432.0,451.0,429.0,437.0,449.0,447.0,431.0,424.0,426.0,...,387.0,362.0,384.0,390.0,384.0,369.0,365.0,373.0,393.0,1

In [12]:
def get_hand_data(ds):
    palmBase_x = ds.palmBase_x.tolist()
    palmBase_y = ds.palmBase_y.tolist()
    thumb_x = ds.thumb4_x.tolist()
    thumb_y = ds.thumb4_y.tolist()
    indexFinger_x = ds.indexFinger4_x.tolist()
    indexFinger_y = ds.indexFinger4_y.tolist()
    middleFinger_x = ds.middleFinger4_x.tolist()
    middleFinger_y = ds.middleFinger4_y.tolist()
    ringFinger_x = ds.ringFinger4_x.tolist()
    ringFinger_y = ds.ringFinger4_y.tolist()
    pinky_x = ds.pinky4_x.tolist()
    pinky_y = ds.pinky4_y.tolist()
    return palmBase_x,palmBase_y, thumb_x,thumb_y, indexFinger_x,indexFinger_y, middleFinger_x,middleFinger_y, ringFinger_x,ringFinger_y, pinky_x,pinky_y

In [13]:
def collect_signals(data_frame, amount=100,  prefix="e"):
    result = data_frame.loc[:,'e0':'e'+str(amount-1)]
    return result.to_numpy()

In [7]:
anotat_num_s = {
            0: "palmBase",
            1: "thumb",
            2: "indexFinger",
            3: "middleFinger",
            4: "ringFinger",
            5: "pinky"
        }
anotat_s_num = {
            "palmBase": 0,
            "thumb": 1,
            "indexFinger": 2,
            "middleFinger": 3,
            "ringFinger": 4,
            "pinky": 5
        }

In [8]:
hand = get_hand_data(dataset)

In [ ]:
signals =